<div class="container-fluid">
	<div class="row">
		<h1 class="about-title">About</h1>
		<p>An application build in cahoots with Bloc.io</p>
	</div>
</div>
<%= link_to "Back", root_path, class: 'btn btn-info' %>
